@model Bank.Domain.Account

@{
    ViewData["Title"] = "AccountDetails";
}

<h2>AccountDetails</h2>

<h4>Details of your Account</h4>
<hr />
<p>
    @Html.ActionLink("Deposit", "Deposit", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Withdraw", "Withdraw", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Transfer", "Transfer", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("History", "History", "Transactions", new { id = Model.Id }, new { @class = "btn btn-default" })
</p>
<input type="hidden" asp-for="Id" class="form-control" />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.AccountNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AccountNumber)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AccountName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AccountName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Balance)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Balance)
    </dd>
</dl>


